<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<img src="http://ocp4/img/logo-h50.png" />
  	<p>Musée du Louvre - Paris <br /></p>
  	<h1>Confirmation de réservation</h1>
	<p>Jour de la visite : {{ invoice.date|date('d/m/Y') }}</p>
	<p>Facturé : {{ amount }} {{ invoice.currency }}</p>
	<p>Visiteurs :</p>
	<ul>
	{% for visitor in invoice.visitors %}
		<li>{{ visitor.fullName }}, {{ visitor.age }} ans</li>
	{% endfor %}
	</ul>
	<p>Code de réservation : {{ invoice.getHashedKey }} <br />
		<a href="http://ocp4{{ urlConfirmation }}">Lien vers la page de confirmation</a></p>
	<p>Nou vous souhaitons une agréable visite.</p>
	<p>Bien cordialement. <br />
	L'équipe du musée du Louvre</p>
  </body>
</html>