
{% extends "JNiTicketingBundle::ticketingLayout.html.twig" %}

{% block thread %}
	{{ parent() }}
{% endblock %}

{% block bodyContent %}
	<div class="col-xs-12">
		<h1>Musée du Louvre</h1>
		<p>Tarifs du musée :
			<ul class="list-group">
				<li class="list-group-item"><span class="badge">16 €</span><b>Normal</b> : à partir de 12 ans</li>
				<li class="list-group-item"><span class="badge">8 €</span><b>Enfant</b> : à partir de 4 ans (gratuit pour les moins de 4 ans)</li>
				<li class="list-group-item"><span class="badge">12 €</span><b>Senior</b> : à partir de 60 ans</li>
				<li class="list-group-item"><span class="badge">10 €</span><b>Réduit</b> : accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</li>
			</ul>
		</p>
	</div>
	<h3>Réservation de billets d'entrée</h3>
		
		{% for message in app.session.flashbag.get('alert') %}
			<p class="alert alert-{{ message.type }}">{{ message.content }}</p>
		{% endfor %}

		{# Booking form #}
		{{ form_start(formInvoice, {'attr': {'class': 'form-horizontal'}}) }}

		{{ form_errors(formInvoice) }}

		{# Field : date of visit #}
		<div class="form-group">
			<div class="col-sm-2">
				<p class="control-label">Date de la visite</p>
			</div>
			{{ form_errors(formInvoice.date) }}
			<div class="col-sm-10">
				{{ form_widget(formInvoice.date) }}
			</div>
		</div>

		{# Field : times of visit #}
		<div class="form-group">
			<div class="col-sm-2">
				<p class="control-label">Demi-journée</p>
			</div>
			{{ form_errors(formInvoice.halfDay) }}
			<div class="col-sm-10">
				{{ form_widget(formInvoice.halfDay) }}
			</div>
		</div>

		{# Field : email to send tickets #}
		<div class="form-group">
			<div class="col-sm-2">
				<p class="control-label">Email de contact</p>
			</div>
			{{ form_errors(formInvoice.email) }}
			<div class="col-sm-10">
				{{ form_widget(formInvoice.email) }}
			</div>
		</div>			

		{# Form : subform Visitor #}
		<div class="col-xs-12">
			{{ form_row(formInvoice.visitors) }}
			<a href="#" id="add_visitor" class="btn btn-default">Ajouter un visiteur</a>
		</div>

		{# Form : validation button #}
		<div class="col-xs-12">
			<p></p>
			{{ form_widget(formInvoice.valid, {'attr': {'class': 'btn btn-primary'}}) }}
		</div>	

		{# Form : hidden fields #}
		{{ form_rest(formInvoice) }}

		{# End of booking form #}
		{{ form_end(formInvoice) }}
{% endblock %}

{% block asideContent %}
{% endblock %}