
{% extends "JNiTicketingBundle::ticketingLayout.html.twig" %}

{% block bodyContent %}
	<div class="col-sm-12">
		<h3>Votre panier</h3>

		{% for message in app.session.flashbag.get('alert') %}
			<p class="alert alert-{{ message.type }}">{{ message.content }}</p>
		{% endfor %}

		<p>
			Merci de bien vérifier que le contenu de votre réservation (date, horaire, conditions de gratuité) correspond à votre commande. <br />
			Retourner à l'étape précédente si des modifications sont nécessaires.
		</p>
	</div>

	<div class="col-sm-12 ticketing-home-form">
		<div class="ticketing-home-title title-underline">
			<h4>1. Vérifiez votre commande</h4>
		</div>

		{# Booking form #}
		<div class="ticketing-content">

			{% if invoice %}
				<div class="panel panel-default ticketing-invoice">
					<ul class="list-group">
					<li class="list-group-item">
						Musée du Louvre <br />
						Date de visite : {{ invoice.date|date('d/m/Y') }} <br />
						Validité : {{ invoice.ticketDayType }}
					</li>
					<li class="list-group-item border-top-solid">
						Visiteurs: x {{ invoice.countVisitors }}
						<ul class="list-group">
						{% for visitor in invoice.visitors %}
							<li class="list-group-item" class="ticketing-payment-visitor">
								<div class="pull-right ticket-rate">1</div>
								{{ visitor.fullName }}, {{ visitor.age }} ans
							</li>
						{% endfor %}
						</ul>				
					</li>

					<li class="list-group-item border-top-solid">
						Mode de retrait des billets : <div class="pull-right">Billet électronique</div>
					</li>
					<li class="list-group-item">
						Email de confirmation : {{ invoice.email }}
					</li>
					<li class="list-group-item  border-top-dashed">
						<span class="pull-right">{{ invoice.amountWithCurrency }}</span>
						Montant de votre commande 
					</li>
					</ul>
				</div>
			{% else %}
				<p>Votre panier est vide.</p>
				<p>Retrounez à l'étape précédente pour Créer une nouvelle commande.</p>
			{% endif %}
		</div>
		<div class="ticketing-home-title">
			<h4>2.&nbsp;</h4>
			<a href="{{ path('jni_ticketing_home') }}" id="previous" class="btn btn-default">Modifier la commande</a> 
			<h4>&nbsp;ou&nbsp;</h4>
			{# formulaire stripe #}
			<form action="#" name="stripeForm" method="POST">
				<script
					src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="{{ stripePublicKey }}"
					data-amount="{{ invoice.amount }}"
					data-name="Musée du Louvre"
					data-description="Billetterie"
					data-image="/img/stripe-logo-01.jpg"
					data-locale="auto"
					data-zip-code="true"
				    data-currency="{{ invoice.currency }}"
				    data-email="{{ invoice.email }}"
				    data-label="Payer par CB"
				    data-allowRememberMe="false">
				</script>
			</form>
		</div>

	</div>

{% endblock %}