
{% extends "JNiDefaultBundle::layout.html.twig" %}

{% block title %}
 	Billetterie - {{ parent() }}
{% endblock %}

{% block body %}
	<h3>Réservation de billets d'entrée</h3>

	{% set messageFlash = app.session.flashbag.get('success') %}

	{% for message in messageFlash %}
		<p class="alert alert-success">{{ message }}</p>
		<div class="well">
			<p>Date : {{ invoice.date|date('d/m/Y') }}</p>
			<p>Email : {{ invoice.email }}</p>
			<p>Visiteurs enregistrés :</p>
			{% for visitor in invoice.visitors %}
				<p>{{ visitor.firstName }} {{ visitor.lastName }}, né(e) le {{ visitor.birthDate|date('d/m/Y') }}</p>
			{% endfor %}
		</div>
	{% endfor %}

	{# formulaire stripe #}
	{% set amount = 2647 %}
	<form action="#" method="POST">
		<script
			src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="{{ stripePublicKey }}"
			data-amount="{{ amount }}"
			data-name="Stripe.com"
			data-description="Widget"
			data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
			data-locale="auto"
			data-zip-code="true">
		</script>
	</form>

{% endblock %}