
{% extends "JNiTicketingBundle::ticketingLayout.html.twig" %}

{% block title %}
 	Billetterie - {{ parent() }}
{% endblock %}

{% block bodyContent %}
	<h3>Réservation de billets d'entrée</h3>

	{% for message in app.session.flashbag.get('alert') %}
		<p class="alert alert-{{ message.type }}">{{ message.content }}</p>
		<p>Retentez le paiement ou contactez-nous.</p>
	{% endfor %}

	{% if invoice %}
		<div class="well">
			<p>Jour de la visite : {{ invoice.date|date('d/m/Y') }}</p>
			<p>Email de confirmation : {{ invoice.email }}</p>
			<p>Visiteurs enregistrés :</p>
			<ul>
			{% for visitor in invoice.visitors %}
				<li>{{ visitor.fullName }}, {{ visitor.country }}, {{ visitor.age }} ans ({{ visitor.admissionRate }} {{ invoice.currency }})</li>
			{% endfor %}
			</ul>
			<p>Total de la commande : {{ amount }} {{ invoice.currency }}</p>
		</div>
	{% else %}
		<p>aucune réservation enregistrée</p>
	{% endif %}
	

	{# formulaire stripe #}
	<form action="#" name="stripeForm" method="POST">
		<script
			src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="{{ stripePublicKey }}"
			data-amount="{{ stripeAmount }}"
			data-name="Musée du Louvre"
			data-description="Billetterie"
			data-image="/img/stripe-logo-03.jpg"
			data-locale="auto"
			data-zip-code="true"
		    data-currency="{{ invoice.currency }}"
		    data-email="{{ invoice.email }}"
		    data-label="Payer par CB"
		    data-allowRememberMe="false">
		</script>
	</form>

{% endblock %}