<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<a href="{{ url('jni_default_home') }}" target="_blank"><img src="{{ asset('img/logo-183x55.png') }}" alt="Musée du Louvre - Paris" /></a>
  	<h1>Confirmation de réservation</h1>
  	<p>Billet électronique n° : <a href="{{ url('jni_ticketing_order_confirmation', {'key': invoice.hashedKey}) }}" target="_blank" style="text-decoration: none;">{{ invoice.hashedKey }}</a></p>
  	<p style="border-top: 1px solid #cccccc; padding: 5px;">
		<font style="color: #c82d00;"><b>Musée du Louvre - Paris</b></font><br />
		Date de visite : {{ invoice.date|date('d / m / Y') }} <br />
		Validité : {{ invoice.ticketDayType }}{% if invoice.halfDay %}, entrée à partir de 14h.{% endif %}
  	</p>
  		<ul style="margin-left: 0; padding-left: 0;">
  			<li style="list-style: none; margin-left: 0; padding: 5px 5px 5px 10px;">
  				Nombre de visiteurs enregistrés : {{ invoice.countVisitors }}
  			</li>
  			{% for visitor in invoice.visitors %}
  			<li style="list-style: none; border-top: 1px dashed #cccccc; margin-left: 0; padding: 5px 5px 5px 10px;">
  				<b>{{ visitor.fullName }}</b>
					{% if visitor.reducedRate %}
						<br /><font style="font-size: small; padding-left: 10px;">:: Justificatif à présenter lors de l'entrée : carte d’étudiant, militaire ou équivalent.</font>
					{% endif %}
  			</li>
  			{% endfor %}
  		</ul>
  	<p style="border-top: 1px solid #cccccc; padding: 5px;">
		<b>Commande</b><br />
		Date de la commande : {{ invoice.payment.date|date('d/m/Y') }} <br />
		Montant réglé par CB : {{ invoice.amountwithcurrency }} <br />
		<a href="{{ url('jni_ticketing_order_confirmation', {'key': invoice.hashedKey}) }}" target="_blank" style="text-decoration: none;">voir la page de confirmation</a>
  	</p>
	<p>Nous vous souhaitons une agréable visite.</p>
	<p>Bien cordialement. <br />
	L'équipe du musée du Louvre <br />
	<a href="{{ url('jni_default_home') }}" target="_blank">www.louvre.fr</a></p>
  </body>
</html>