{# src/JNi/DefaultBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    {% block stylesheets %}
      {# CDN CSS Bootsrap 3.3.7 #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      {# Bootstrap datepicker #}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css" integrity="sha256-4PQp5wYKIGyIpShGiM2DG3LbiWuMtYl/y+uKY4EHHoc=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" integrity="sha256-WgFzD1SACMRatATw58Fxd2xjHxwTdOqB48W5h+ZGLHA=" crossorigin="anonymous" />
      {#<link rel="stylesheet" href="{{ asset('files/style.css') }}">#}
      <link rel="stylesheet" href="/files/style.css">
    {% endblock %}
  </head>

  <body>
    {% block background %}
      <div class="background-default">
    {% endblock %}

    <div class="container page-container">

      <header class="row">
        <div class="col-xs-12 user-nav">
          {% block userNav %}
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="" class="user-nav-item-connexion">Connexion</a></li>
              <li role="presentation"><a href="" class="user-nav-item-languages">Select language</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-xs-12 logo-and-nav">
          <a href="{{ path('jni_default_home') }}" class="home-logo pull-left"><img src="{{ asset('img/logo-183x55.png') }}" class="img-responsive" alt="Musée du Louvre" /></a>
          {% block nav %}
            <nav class="">
              <div class="">
                <ul class="nav nav-pills">
                  <li role="presentation"><a href="{{ path('jni_default_home') }}" class="nav-item">Informations pratiques</a></li>
                  <li role="presentation"><a href="{{ path('jni_default_home') }}" class="nav-item">Visites & Activités</a></li>
                  <li role="presentation"><a href="{{ path('jni_default_home') }}" class="nav-item">Expositions & Actualités</a></li>
                  <li role="presentation"><a href="{{ path('jni_default_home') }}" class="nav-item">Oeuvres & Palais</a></li>
                  <li role="presentation"><a href="{{ path('jni_default_home') }}" class="nav-item">Art & Education</a></li>
                  <li role="presentation"><a href="{{ path('jni_ticketing_home') }}" class="nav-item-ticketing"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a></li>
                </ul>  
              </div>      
            </nav>
          {% endblock %}
        </div>
      </header>
      {% block thread %}
      {% endblock %}

      {% block carousel %}
      {% endblock %}

      <section class="row block-body">
      {% block asideLeft %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block asideRight %}
      {% endblock %}
      </section>


      {% block footer %}
        <footer class="row">
          <div class="col-xs-12">
            <p class="text-center">Musée du Louvre - Paris © {{ 'now'|date('Y') }}</p>
          </div>
        </footer>
      {% endblock %}

    </div>

    
      {# CDN JQUERY 3.2.1 #}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
      {# CDN JS Bootstrap 3.3.7 #}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {# Bootstrap datepicker #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.en-GB.min.js" integrity="sha256-zWVLv9rjdSAUVWhtqJUdGV1O5ONXpXMEJsOkp7B2gZ4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js" integrity="sha256-IRibTuqtDv2uUUN/0iTrhnrvvygNczxRRAbPgCbs+LE=" crossorigin="anonymous"></script>
      {# visitors form Manager jQuery #}
      {#<script src="{{ asset('files/visitorFormManager.js') }}"></script>#}
      <script src="/files/visitorFormManager.js"></script>
      
    {% block javascripts %}
    {% endblock %}

    </div><!-- end of background div -->
  </body>
</html>
